@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

body {
	padding: 0;
	margin: 0;
}

.header-logo {
	width: 100%;
	height: auto;
	text-align: center;
}
.header-logo img {
	height: 155px;
}
.header-logo hr {
	border-color: blue;
}

.social-media {
	position: absolute;
	top: 13px;
    left: 30px;
    z-index: 2;
}
.social-media i {
	margin: 0 5px;
	color: #ebebeb !important;
	float: left;
	padding: 0 4px;
}

.navbar-default {
	background-color: #000;

}

.main-container {
	width: 94%;
	height: auto;
	margin: 0 auto;
	border: 1px solid red;
}

/* Article Show page */
.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.description {
	margin-top: 0;
}

/* Articles Index page */
.article-title {

font-weight: bold;

font-size: 1.5em;

}

.article-body {

border-top: 1px solid #eaeaea;

padding-top: 15px;

padding-bottom: 15px;

}

/* Show Created by */
.article-meta-details {
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
}


/* User Index */
.listing {
	list-style: none;
	padding-left: 0;
}

/* Categories */
.badge {
	background-color: #CEF6F5;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.input_checkbox input {
	width: auto !important;
}














