<div class="container">
	<footer class="footer">

	<small>Copyright © <a href="enter in a link here">Yo! Read This Shit</a> by <a href="enter in a link here">Moonlight Design</a></small>

	<span style="float: right;"><%= link_to 'About Us', pages_about_path %></span>

	</footer>
</div>